@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;600&display=swap');
html {
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	color: #333;
	padding-bottom: 200px;
	 }

h1,h2,h3,h4,h5,h6 {
	text-align: center;
	font-family: "IBM Plex Serif", serif;
}

.lw, dt img, dd img, p img, li img, h1 img, h2 img, h3 img, h4 img, dt img, td img, button img {
	max-height: .8em;
	max-width: 1em;
	vertical-align: middle ;
}

a {color: royalblue; }
a:hover {color: lightblue; }

.entry {
	border-left: 10px solid darkslategray;
	padding: 0px 10px 0px 10px;
	border-radius: 0 30px 30px 0;
	margin-bottom: 20px;
	background-color: #1b1b1b;
	}
.entry h2 { margin: 5px auto 2px auto; }
dt {
	font-weight: bold ;
}
body {
	background: #1b1b1b ;
	font-size: 19px;
	color: #fff ;
	margin-bottom: 200px ;
	font-family: "IBM Plex Serif", "Garamond", Georgia, serif, 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji';
	line-height: 1.6;
}

p {
	font-size: 18px;
}


h1 { color: chocolate ; }
h2 { color: sandybrown ; }
h3 { color: tan ; }
h4 { color: wheat ; }
h5, h6 { color: cornsilk ; }


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
